<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>CRUD Football Clubs</title>
</head>

<body>
    <header>
        <img src=".\images\logo.png">
    </header>
    <main> {{{body}}}</main>


</body>

</html>