<form action="****" method="POST">
    <label for="id">ID:</label>
    <input disabled type="number" id="id" name="id" value="57" readonly>

    <label for="areaName">Country:</label>
    <input type="text" id="areaName" name="area[name]" placeholder="England">


    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="Arsenal FC">

    <label for="shortName">Short Name:</label>
    <input type="text" id="shortName" name="shortName" placeholder="Arsenal" >

    <label for="tla">TLA:</label>
    <input type="text" id="tla" name="tla" placeholder="ARS">

    <label for="crestUrl">Crest URL:</label>
    <input type="url" id="crestUrl" name="crestUrl" placeholder="https://crests.football-data.org/57.png">

    <label for="address">Address:</label>
    <input type="text" id="address" name="address" placeholder="75 Drayton Park London N5 1BU">

    <label for="phone">Phone:</label>
    <input type="tel" id="phone" name="phone" placeholder="+44 (020) 76195003">

    <label for="website">Website:</label>
    <input type="url" id="website" name="website" placeholder="http://www.arsenal.com">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="info@arsenal.co.uk">

    <label for="founded">Founded:</label>
    <input type="number" id="founded" name="founded" placeholder="1886">

    <label for="clubColors">Club Colors:</label>
    <input type="text" id="clubColors" name="clubColors" placeholder="Red / White">

    <label for="venue">Venue:</label>
    <input type="text" id="venue" name="venue" placeholder="Emirates Stadium">

    <input type="submit" value="Submit">
</form>